.display {
    background: #222222;
    box-shadow: 0px 0px 5px #888;
    width: 400px;
    height: 120px;
    position: relative;
}

.display-content {
    width: 370px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 0;
    color: #33aa33;
    background: transparent;
    border: none;
    outline: none;
    height: 100%;
    line-height: 120px;
    font-size: 70px;
    padding:0 15px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}